{% extends 'layout.html' %}

{% block head %}
        <!-- Header Top Start -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Header Top Wrapper Start -->
                        <div class="header-top-wrapper">
                            <div class="row">

                                <!-- Header Social -->
                                <div class="header-social col-md-4 col-12">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>

                                <!-- Header Logo -->
                                <div class="header-logo col-md-4 col-12">
                                    <a href="index.html" class="logo">
										<img src= {{url_for( 'static', filename='img/logo.png')}} alt="logo"></a>
                                </div>

                                <!-- Account Menu -->
                                <div class="account-menu col-md-4 col-12">
                                    <ul>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href = 'wishlist.html'>Wishlist</a></li>
                                        <li><a href="#" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="num">2</span></a>
                                            
                                           <!-- Mini Cart -->
                                            <div class="mini-cart-brief dropdown-menu text-left">
                                                <!-- Cart Products -->
                                                <div class="all-cart-product clearfix">
                                                    <div class="single-cart clearfix">
                                                        <div class="cart-image">
                                                            <a href=  'product-details.html'><img src= {{ url_for('static', filename='img/cart/1.jpg')}} alt=""></a>
                                                        </div>
                                                        <div class="cart-info">
                                                            <h5><a href= 'product-details.html'>Tomato</a></h5>
                                                            <p>1 x Rs 9.00</p>
                                                            <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart clearfix">
                                                        <div class="cart-image">
                                                            <a href="product-details.html"><img src={{url_for ('static', filename = 'img/cart/2.jpg') }} alt=""></a>
                                                        </div>
                                                        <div class="cart-info">
                                                            <h5><a href="product-details.html">Mango</a></h5>
                                                            <p>1 x Rs 9.00</p>
                                                            <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Cart Total -->
                                                <div class="cart-totals">
                                                    <h5>Total <span>Rs 12.00</span></h5>
                                                </div>
                                                <!-- Cart Button -->
                                                <div class="cart-bottom  clearfix">
                                                    <a href="checkout.html">Check out</a>
                                                </div>
                                            </div>
                                            
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div><!-- Header Top Wrapper End -->

                    </div>
                </div>
            </div>
        </div><!-- Header Top End -->
{% endblock %}

{% block slide %}  
    <!-- Hero Slider Start-->
    <div class="hero-slider section fix">

        <!-- Hero Slide Item Start-->
        <div class="hero-item" style=background-image:url({{ url_for('static' , filename = "img/bg/page-bg.png") }} )>
          >

            <!-- Hero Content Start-->
            <div class="hero-content text-center m-auto">

                <h2 style = "color: #202020">..</h2>
                <h1 style = "color: #202020">Grand Opening Day Sale</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p style = "color: #C0C0C0">There are many variations of Farm produce available in the market, however the majority have suffered alteration in some form, by injections, or through chemical fertilizers. Our portal grants you the opppurtunity to break free from
                   such detrimental product by bringing to you our 100% authentic organic farm produce.</p>
                <a href="#">LEARN MORE</a>

            </div><!-- Hero Content End-->


        </div><!-- Hero Slide Item End-->

        <!-- Hero Slide Item Start-->
        <div class="hero-item" style = background-image:url({{ url_for('static' , filename = "img/bg/page-bg.png") }} )>

            <!-- Hero Content Start-->
            <div class="hero-content text-center m-auto">

                <h2 style = "color: #202020">..</h2>
                <h1 style = "color: #202020">Grand Opening Day Sale</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p style = "color: #C0C0C0">There are many variations of Farm produce available in the market, however the majority have suffered alteration in some form, by injections, or through chemical fertilizers. Our portal grants you the opppurtunity to break free from
                   such detrimental product by bringing to you our 100% authentic organic farm produce.</p>
                <a href="#">LEARN MORE</a>

            </div><!-- Hero Content End-->


        </div><!-- Hero Slide Item End-->

    </div><!-- Hero Slider End-->             
{% endblock %}

{% block body %}

    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">

<!-- banner was here -->

      <!-- Product Section Start-->
      <div class="product-section section pt-70 pb-60">
        <div class="container">
          <!-- Section Title Start-->
          <div class="row">
            <div class="section-title text-center col mb-60">
              <h1>Products</h1>
            </div>
          </div>
          <!-- Section Title End-->

          <!-- Product Wrapper Start-->
          <div class="row">
            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/1.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <span class="label">New</span>
                </div>
                <br /><br /><br />
                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Tomato</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>

                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 38/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/2.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <br />
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Mango </a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 69/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/3.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Blue beryy </a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 777/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/4.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <span class="label">New</span>
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Green Capsicum</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 33/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/5.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <br /><br />
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Banana</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 85/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src={{ url_for('static', filename = 'img/product/6.jpg') }} alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Strawberry</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">Rs 138/Kg</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->
          </div>
          <!-- Product Wrapper End-->
        </div>
      </div>
      <!-- Product Section End-->

      <!-- Testimonial Section Start-->
      <div
        class="testimonial-section section bg-gray pt-100 pb-65"
        style=background-image: url({{ url_for('static' , filename = 'img/bg/testimonial.png' ) }} )
      >
        <div class="container">
          <!-- Section Title Start-->
          <div class="row">
            <div class="section-title text-center col mb-60">
              <h1>Customer Reviews</h1>
            </div>
          </div>
          <!-- Section Title End-->

          <div class="row">
            <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">
              <!-- Testimonial Slider Start -->
              <div class="testimonial-slider text-center">
                <!-- Single Testimonial -->
                <div class="single-testimonial">
                  <img src={{ url_for('static', filename = 'img/testimonial/1.jpg') }} alt="customer" />
                  <p>
                    The tastiest vegetables I have ever had since I stopped
                    farming!
                  </p>
                  <h5>Betty Moore</h5>
                </div>

                <!-- Single Testimonial -->
                <div class="single-testimonial">
                  <img src={{ url_for('static', filename = 'img/testimonial/1.jpg') }} alt="customer" />
                  <p>The mangoes were divine.</p>
                  <h5>Rajesh Rai</h5>
                </div>

                <!-- Single Testimonial -->
                <div class="single-testimonial">
                  <img src={{ url_for('static', filename = 'img/testimonial/1.jpg') }} alt="customer" />
                  <p>The carrot was so fresh and crispy!</p>
                  <h5>Mr. Khargosh</h5>
                </div>
              </div>
              <!-- Testimonial Slider End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial Section End-->

      <!-- Newsletter Section Start-->
      <div class="newsletter-section section pt-100 pb-120">
        <div class="container">
          <!-- Section Title Start-->
          <div class="row">
            <div class="section-title text-center col mb-55">
              <h1>Newsletter</h1>
              <p>
                On the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized by the charms of
                pleasure of the moment.
              </p>
            </div>
          </div>
          <!-- Section Title End-->

          <div class="row">
            <div class="text-center col">
              <!-- Newsletter Form -->
              <form
                action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="subscribe-form validate"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll">
                  <label for="mce-EMAIL" class="d-none"
                    >Subscribe to our mailing list</label
                  >
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="email"
                    id="mce-EMAIL"
                    placeholder="Your email address"
                    required
                  />
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                  <button
                    type="submit"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button"
                  >
                    subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial Section End-->
    </div>
    <!-- Main Wrapper End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src={{ url_for('static' , filename = 'js/vendor/jquery-1.12.0.min.js') }}></script>
    <!-- Popper JS --> 
    <script src={{ url_for('static' , filename  = 'js/popper.min.js') }}></script>
    <!-- Bootstrap JS -->
    <script src={{ url_for('static' , filename  = 'js/bootstrap.min.js') }}></script>
    <!-- Plugins JS -->
    <script src={{ url_for('static' , filename = 'js/plugins.js') }}></script>
    <!-- Ajax Mail JS -->
    <script src={{ url_for('static' , filename = 'js/ajax-mail.js') }}></script>
    <!-- Main JS -->
    <script src={{ url_for('static' , filename  = 'js/main.js') }}></script>

{% endblock %}